div(class="row")
    form(class="form" action="" method="POST")
        div(class="col-md-2")
            select(class="form-control" name="educationalRequirements")
                option() Choose One
                option(value="No Requirements") No Requirements
                option(value="High School / GED") High School Diploma / GED
                option(value="Some College") Some College Credits
                option(value="Currently Attending") Currently In College
                option(value="Associates Degree") Associates Degree
                option(value="Bachelors Degree") Bachelor's degree
                option(value="Masters Degree") Masters Degree
                option(value="PHD Degree") PHD Dregree