footer(class="footer fixed-bottom" id="footer")
    div(class="container")
        div(class="row")
            div(class="col-12")
                h3(class="text-center" id="footerLogo") Weemaple LLC &reg;
                h4(class="text-center" id="socialLinks")
                    a(target="_blank" href="https://www.facebook.com/WeemapleLLC")
                        span(class="bi bi-facebook") 
                    a(target="_blank" href="https://www.instagram.com/weemaple_/")
                        span(class="bi bi-instagram") 
                    a(target="_blank" href="https://www.tiktok.com/@weemaplellc7")
                        span(class="bi bi-tiktok") 
                    a(target="_blank" href="https://www.youtube.com/@weemaplellc")
                        span(class="bi bi-youtube") 
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")