nav(class="navbar navbar-expand-lg navbar-light bg-light" id="nav")
  div(class="container")
    a(class="navbar-brand" id="logo" href="/") Weemaple
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      ul(class="nav nav-fill mr-auto")
          li(class="nav-item")
            a(class="nav-link" href="/" id="logo")
              h5 Home
          li(class="nav-item")
            a(class="nav-link" href="/static/allservices" id="logo")
              h5 Services
          li(class="nav-item")
            a(class="nav-link" href="/static/allcourses" id="logo")
              h5 Courses