header
  nav.navbar.navbar-expand-lg.fixed-top(id="navbar")
    .container
      h1(id="logoTitle") 
        a.navbar-brand(href='/')
          img(src="/images/logo.png" id="logoImage")
          span(id="title") Weemaple
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page', href='/') Jobs
          li.nav-item
            a.nav-link(href='/training') Training
          li.nav-item
            a.nav-link(href='/about-us') About Us
          li.nav-item
            a.nav-link(target="_blank" href="https://www.instagram.com/weemaple_/" id="instagramLink")
              span(class="bi bi-instagram") 
          li.nav-item
            a.nav-link(target="_blank" href="https://www.instagram.com/weemaple_/" id="twitterLink")
              span(class="bi bi-twitter") 
          li.nav-item
            a.nav-link(target="_blank" href="https://www.tiktok.com/@weemaplellc7" id="tiktokLink")
              span(class="bi bi-tiktok")