label(for="category") Category
select(class="form-control" name="category")
    option(value="") Choose One
    option(value="Beauty") Beauty / Hair
    option(value="Finance") Finance
    option(value="Office") Office
    option(value="Architecture") Architecture
    option(value="Science") Science
    option(value="Business") Business
    option(value="Customer Service") Customer Service
    option(value="Education") Education
    option(value="Misc") Misc
    option(value="Hospitality") Hospitality
    option(value="General Labor") General Labor
    option(value="Government") Government
    option(value="Human Resources") Human Resources
    option(value="Legal") Legal
    option(value="Manufacturing") Manufacturing
    option(value="Marketing") Marketing
    option(value="Medical") Medical
    option(value="Non Profit") Non Profit
    option(value="Real Estate") Real Estate
    option(value="Retail") Retail
    option(value="Sales") Sales
    option(value="Fitness") Fitness
    option(value="Security") Security
    option(value="Skilled Trade") Skilled Trade
    option(value="Software") Software
    option(value="Hardware") Hardware / Network / IT
    option(value="Transport") Transport
    option(value="Video") Video
    option(value="Design") Web / Info Design
    option(value="Writing") Writing