extends layout

block content
  include ./partials/staticnav.jade
  div(id="mainHeroC")
    div(class="container")
      div(class="row")
        div(class="col-sm-12 col-lg-8")
          h1 Sorry....