extends layout

block content
  div(id="mainHero")
    div(class="container")
      div(class="row")
        div(class="col-sm-12 col-lg-8")
          h1(id="mainHeroTitle" class="text-center") Building Solutions For Small Businesses
          h3(id="mainHeroContent" class="text-center") Welcome to #{title} A software Development Company Creating Applications That Help Small Businesses Build Their Future Efficiently.
        div(class="col-sm-0 col-lg-4")
  br
  div(id="devProjects")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles") Projects Currently In Development
      br
      div(class="row")
        div(class="col-6")
          img(src="/images/businesses/eezy.png" class="img-fluid")
          br
          h4(class="text-center" id="webs") Eezypeezyprint
        div(class="col-6")
          img(src="/images/businesses/seleio.png" class="img-fluid")
          br
          h4(class="text-center" id="webs") Seleioter
  br
  div(id="aboutUs")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles")
            b A Little Bit About Us...
      br
      div(class="row")
        div(class="col-12")
          p(id="aboutUsText") Weemaple is a family owned business established in 2018. Our work is tailormade for you and everything you envision. Weemaple enriches the memories you share with your customers, coworkers, employees, or team; and the passion you put into your workplace. We believe that our custom services will be just what your looking for. We’re extremely passionate about every hour spent on accomplishing your vision, because what we love is being a part of bringing great ideas to life. Let’s create together!
  br
  div(id="contact")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles") Contact Us For Any Inquiries
      br
      div(class="row")
        div(class="col-12")
          form(action="/api/v1/contactMessages/website/", method="post")
            h3(class="text-center")= message
            label(for="email") Email
            input(type="email", name="email" class="form-control" required)
            br
            label(for="reason") Reason For Contact
            input(type="text", name="reason" class="form-control" required)
            br
            label(for="description") Message
            textarea(name="description" class="form-control")
            br
            button(type="submit" class="btn btn-success") Submit 