extends layout

block content
  include partials/staticnav.jade
  div(id="mainHero")
    div(class="container")
      div(class="row")
        div(class="col-sm-12 col-lg-8")
          h1(id="mainHeroTitle" class="text-center") Building Solutions For Small Businesses
          h3(id="mainHeroContent" class="text-center") Welcome to #{title}, a development company creating applications that help small businesses build their companies efficiently.
        div(class="col-sm-0 col-lg-4")
  div(id="aboutUs")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles")
            b A Little Bit About Us...
      br
      div(class="row")
        div(class="col-12")
          p(id="aboutUsText") Weemaple is a family owned business established in 2018. We help to enrich the memories you share with your customers, coworkers, employees / team. Our services will be just what your looking for. We’re extremely passionate about every hour spent on accomplishing your vision, because what we love is being a part of bringing great ideas to life. Let’s create together!
  br
  div(id="contact")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles") Contact Us For Any Inquiries
      br
      div(class="row")
        div(class="col-12")
          form(action="/api/v1/contactMessages/website/", method="post")
            h3(class="text-center")= message
            label(for="email") Email
            input(type="email", name="email" class="form-control" required)
            br
            label(for="reason") Reason For Contact
            input(type="text", name="reason" class="form-control" required)
            br
            label(for="description") Message
            textarea(name="description" class="form-control")
            br
            button(type="submit" class="btn btn-success") Submit 