extends layout

block content
  div(id="mainHero")
    div(class="container")
      div(class="row")
        div(class="col-sm-12 col-lg-8")
          h1(id="mainHeroTitle" class="text-center") Building Solutions For Small Businesses
          h3(id="mainHeroContent" class="text-center") Welcome to #{title} A software Development Company Creating Applications That Help Small Businesses Build Their Future Efficiently.
          br
          div(id="mainHeroButton")
            h5 Connect With Us
        div(class="col-sm-0 col-lg-4")
  br
  div(id="devProjects")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles") Projects Currently In Development
      br
      div(class="row")
        div(class="col-4")
          img(src="/images/businesses/eezy.png" class="img-fluid")
          br
          h4(class="text-center" id="webs") Eezypeezyprint
        div(class="col-4")
          img(src="/images/businesses/seleio.png" class="img-fluid")
          br
          h4(class="text-center" id="webs") Seleioter
        div(class="col-4")
          img(src="/images/businesses/weegigs.png" class="img-fluid")
          br
          h4(class="text-center" id="webs") Weegigs
  br
  div(id="contact")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles" class="text-center") Contact Us For Any Inquiries
      br
      div(class="row")
        div(class="col-12")
          form(action="/api/v1/contactMessages/website/", method="post")
            h3(class="text-center")= message
            label(for="email") Email
            input(type="email", name="email" class="form-control" required)
            br
            label(for="reason") Reason For Contact
            input(type="text", name="reason" class="form-control" required)
            br
            label(for="description") Message
            textarea(name="description" class="form-control")
            br
            button(type="submit" class="btn btn-success") Submit 