extends ../../layout

block content
  include ../../partials/staticnav.jade
  div(class="container" id="container")
    div(class="row")
      div(class="col")
        h4 You have successfully applied to this job or gig 
            a(href="/") Please Click Here For More Employment Opportunities
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FLEKPR06BM')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FLEKPR06BM');