extends ../../layout

block content
  include ../../partials/staticnav.jade
  div(class="container")
    h3= gig.title
    div(class="row")
      div(class="col-6")
        p
          span= gig.city
          span  , 
          = gig.stateLink
          span  , 
          = gig.zipcode
      div(class="col-6")
        p= gig.creationDate
    br
    div(class="row")
      div(class="col")
        p= gig.description