extends ../../layout

block content
  include ../../partials/staticnav.jade
  div(class="container" id="container")
    form(class="form" id="filterForm" method="POST" action="/search")
      div(class="row")
        div(class="col-10")
          input(type="text" class="form-control" id="jobType" name="jobType" placeholder="Job Type")
        div(class="col-2")
          input(type="submit" class="btn btn-success" value="Find Gigs")
    hr
    br
    if gigs.length > 0
      each gig in gigs
        h2= gig.title
        h3
          span= gig.city
          span , 
          span= gig.stateLink
        p= gig.description.substring(0, 200)
          span ...
        p
          a(href="/singleGig/" + gig._id) View Job
        br
    else
      h2 Sorry No gigs available at this time
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FLEKPR06BM')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FLEKPR06BM');