/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

body {
  /* padding: 50px; */
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#navbar {
  background-color: #2980b9;
  color: white;
}

#footer {
  background-color: #2980b9;
}

#footerLogo {
  color: white;
  padding-top: 4%;
  font-family: 'Exo 2', sans-serif;
}

a {
  color: #00B7FF;
}

@media only screen and (min-width: 300px) {
  #navTitle {
    font-size: 30px;
    color: white;
    font-family: 'Exo 2', sans-serif;
  }
  #mainHero {
    background-image: url("/images/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    position: relative;
    height: 600px;
    color: white;
    -webkit-box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
            box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    
  }

  #mainHeroTitle {
    padding-top: 15%;
    font-size: 35px;
  }

  #mainHeroContent {
    padding-top: 20%;
    font-family: Arial;
  }

  #mainHeroButton {
    background-color: darkgreen;
    width: 40%;
    height: 55px;
    padding-top: 5%;
    padding-left: 7.5%;
    border-radius: 5%;
  }

  #devProjects {
    padding-top: 5%;
  }

  #aboutUs {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f39c12;
    color: white;
    
  }

  #aboutUsText {
    font-size: 24px;
  }

  #contact {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  #titles {
    padding-bottom: 2.5%;
  }
  
  #webs {
    padding-top: 15%;
  }
}

@media only screen and (min-width: 500px) {

  #mainHeroButton {
    padding-top: 3.5%;
    padding-left: 5%;
    margin-left: 30%;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
  
  #mainHeroTitle {
    font-size: 50px;
  }
  
  
  #mainHeroContent {
    padding-top: 20%;
  }
  
  #mainHeroButton {
    width: 40%;
    padding-top: 2.5%;
    padding-left: 9%;
    border-radius: 5%;
  }
  
  
}

@media only screen and (min-width: 1200px) {
  #mainHeroContent {
    padding-top: 10%;
  }
  #mainHeroButton {
    padding-top: 2.3%;
    padding-left: 10%;
  }
  #mainHeroTitle {
    padding-top: 10%;
  }
  #mainHeroButton {
    padding-top: 2%;
    padding-left: 11.5%;
  }
}