body {
  /* padding: 50px; */
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#navTitle {
  font-size: 30px;
}

#mainHero {
  background-image: url("https://img.search.brave.com/9_Sd9UlK8r2togZhg6jyAG9LrXNC0Bf1MEgrnbQQ6H0/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/b3B0aW11c2luZm8u/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDE5LzA1LzE0OS5q/cGc");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
  height: 600px;
  color: white;
}

#mainHeroTitle {
  padding-top: 15%;
  font-size: 50px;
}

#mainHeroContent {
  padding-top: 20%;
  font-family: Arial;
}

#mainHeroButton {
  background-color: darkgreen;
  width: 40%;
  height: 55px;
  padding-top: 2.8%;
  padding-left: 5%;
  border-radius: 5%;
}

#devProjects {
  padding-top: 5%;
}

#titles {
  padding-bottom: 2.5%;
}

#webs {
  padding-top: 15%;
}