extends ../layout

block content
  include ../partials/staticnav.jade
  div(id="buildHero")
    div(class="container")
      div(class="row")
        div(class="col-sm-12 col-lg-8")
          div(id="hero")
            h2(id="mainHeroTitle" class="text-center") Build With Us!
            h3(id="mainHeroContent" class="text-center") #{title}, makes it easy to build an online presence for yourself, group or company. Whether its building a new website, redigning a website or social media creation and management. Weemaple gets the job done the first time!
        div(class="col-sm-0 col-lg-4")
  div(id="aboutUs")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles")
            b A Little Bit About Us...
      br
      div(class="row")
        div(class="col-12")
          p(id="aboutUsText") Weemaple is a family owned business established in 2018. We help to enrich the memories you share with your customers, coworkers, employees / team. Our services will be just what your looking for. We’re extremely passionate about every hour spent on accomplishing your vision, because what we love is being a part of bringing great ideas to life. Let’s create together!