extends ../layout

block content
  include ../partials/staticnav.jade
  div(id="mainHeroC")
    div(class="container")
      div(class="row")
        div(class="col-sm-12 col-lg-8")
          h1(id="mainHeroTitle" class="text-center") Eezypeezyprint.com
          h3(id="mainHeroContent" class="text-center") A web application that helps businesses create apparel for thier customers and teams...
        div(class="col-sm-0 col-lg-4")
  div(id="aboutUs")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles")
            b A Little Bit About Eezypeezyprint...
      br
      div(class="row")
        div(class="col-12")
          p(id="aboutUsText") EezyPeezyPrint is an application created under the Weemaple company. The application specializes in creating custom brand products for businesses looking to sell to custumors or equip thir employees with uniformed clothing. Check out whats available at
            span
              a(target="_blank" href="https://www.eezypeezyprint.com" id="websiteLink")  www.eezypeezyprint.com
  br
  div(id="contact")
    div(class="container")
      div(class="row")
        div(class="col-12")
          h2(id="titles") Contact us With any questions about eezypeezyprint.com
      br
      div(class="row")
        div(class="col-12")
          form(action="/api/v1/contactMessages/website/", method="post")
            h3(class="text-center")= message
            label(for="email") Email
            input(type="email", name="email" class="form-control" required)
            br
            label(for="reason") Reason For Contact
            input(type="text", name="reason" class="form-control" required)
            br
            label(for="description") Message
            textarea(name="description" class="form-control")
            br
            button(type="submit" class="btn btn-success") Submit 