extends ../layout

block content
  include ../partials/staticnav.jade
  div(class="container" id="container")
    div(class="row")
      div(class="col")
        h4 Invalid Email or Password
            a(href="/") Please Click Here For Employment Opportunities