extends ../layout

block content
  include ../partials/userNav.jade
  div(class="container" id="container")
    form(action=action="/users/createGig" method="POST" class="form")
      div(class="row")
        div(class="col-md-6")
        div(class="col-md-6")
      div(class="row")
        div(class="col-md-6")
          label(for="title") Title
          input(class="form-control" type="text" name="title" required)
        div(class="col-md-6")
          label(for="companyName") Company Name
          input(class="form-control" type="text" name="companyName")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="compensation") Compensation
          input(class="form-control" type="number" name="compensation")
        div(class="col-md-6")
          label(for="payPeriod") Pay Period
          input(class="form-control" type="string" name="payPeriod")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="websiteLink") Website
          input(class="form-control" type="string" name="websiteLink")
        div(class="col-md-6")
          label(for="facebookLink") Facebook Url
          input(class="form-control" type="string" name="facebookLink")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="twitterLink") Twitter Url
          input(class="form-control" type="string" name="twitterLink")
        div(class="col-md-6")
          label(for="instagramLink") Instagram Url
          input(class="form-control" type="string" name="instagramLink")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="address") Address
          input(class="form-control" type="string" name="address")
        div(class="col-md-6")
          label(for="city") City
          input(class="form-control" type="string" name="city")
      br
      div(class="row")
        div(class="col-md-6")
          include ./partials/createState.jade
        div(class="col-md-6")
          label(for="zipcode") Zip Code
          input(class="form-control" type="string" name="zipcode")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="travelType") Travel Type
          select(class="form-control" name="travelType")
            option() Choose One
            option(value="Remote") Remote
            option(value="In Person") In Person
        div(class="col-md-6")
          include ./partials/createCategory.jade
      br
      div(class="row")
        div(class="col-md-6")
          label(for="contactNumber") Phone Number
          input(class="form-control" type="string" name="contactNumber")
        div(class="col-md-6")
          label(for="contactEmail") Email
          input(class="form-control" type="string" name="contactEmail")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="gigJob") Job or Gig?
          select(class="form-control" name="gigJob")
            option() Choose One
            option(value="gig") Gig
            option(value="job") Job
        div(class="col-md-6")
          label(for="educationalRequirements") Educational Requirements
          select(class="form-control" name="educationalRequirements")
            option() Choose One
            option(value="No Educational Requirements") No Requirements
            option(value="High School / GED Required") High School Diploma / GED
            option(value="Some College Required") Some College Credits
            option(value="Currently Attending College Required") Currently In College
            option(value="Associates Degree Required") Associates Degree
            option(value="Bachelors Degree Required") Bachelor's degree
            option(value="Masters Degree Required") Masters Degree
            option(value="PHD Degree Required") PHD Dregree
      br
      div(class="row")
        div(class="col-md-12")
          label(for="description") Description
          textarea(class="form-control" name="description")
      br
      input(type="submit" class="btn btn-success" value="Create Gig or Job")
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FLEKPR06BM')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FLEKPR06BM');