extends ../layout

block content
  include ../partials/userNav.jade
  div(class="container" id="container")
    if gigs.length > 0
      table(class="table table-hover table-bordered")
        thead
          tr
            td Date
            td Title 
            td(class="text-center") Actions
        each gig in gigs
          tbody(class="table-group-divider")
            tr
              td=gig.creationDate.toDateString()
              td= gig.title
              td
                div(class="row")
                  div(class="col-sm-6")
                    span
                      a(href="/users/editGig/" + gig._id)
                        button(class="btn btn-warning") Edit
                  div(class="col-sm-6")
                    span
                      form(class="form" action="/deleteGig" method="POST")
                        input(type="hidden" value=gig._id name="_id")
                        input(type="submit" class="btn btn-danger" value="Delete")
    else
      h2 Sorry No gigs available at this time
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FLEKPR06BM')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FLEKPR06BM');